@charset "utf-8";

// hidden text > @extend %visuallyhidden;
%visuallyhidden {
  margin: -1px !important;
  padding: 0 !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

// clear:both 대체 >> @extend %clearfix;
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%clearfix-under {
  *zoom: 1;
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

// mixin:opacity > @include opacity(0.8);
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity = $opacity-ie);
}

// mixin:fonts > @include fonts(14,18,300);
@mixin fonts($size: 14px, $lineHeight: false, $bold: false) {
  @if unitless($size) {
    // @warn "Assuming #{$size} to be in pixels";
    $size: 1px * $size;
  }
  font-size: $size;
  // if unit(px) in lineheight, no calc and use raw lineheight
  // if none : no write
  $lhr: 0;
  @if $lineHeight {
    @if unitless($lineHeight) {
      // @warn "Assuming #{$size} to be in pixels";
      $lineHeight: 1px * $lineHeight;
      // $pow: pow(10, 2);
      $lh: round($lineHeight / $size * 100) / 100;
      $lhr: $lh * 1em;
    }
    @else {
      $lhr: $lineHeight;
    }
    line-height: $lhr;
  }
  // bold : if none - no write
  @if $bold {
    @if $bold == "thin" {
      font-weight: 100;
    }
    @else if $bold == "light" {
      font-weight: 300;
    }
    @else if $bold == "normal" {
      font-weight: 400;
    }
    @else if $bold == "bold" {
      font-weight: 700;
    }
    @else {
      font-weight: $bold;
    }
  }
}

// rem unit fonts mixin >> @include rfonts(14,18,300); or @include rfonts(14,18px,"normal");
@mixin rfonts($size: $initial-font-size, $lineHeight: false, $bold: false) {
  $lhr: 0;
  @if $enable-IE8 {
    font-size: $size * 1px;
  }
  font-size: setRem($size);
  @if $lineHeight {
    @if unitless($lineHeight) {
      $lhr: setRem($lineHeight);
      @if $enable-IE8 {
        line-height: $lineHeight * 1px;
      }
      line-height: $lhr;
    }
    @else {
      $lhr: $lineHeight;
      line-height: $lhr;
    }
  }
  @if $bold {
    font-weight: setFontWeight($bold);
  }
}

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff2") format("woff2"), url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{#file_name}.ttf") format("truetype");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@function setRem($size) {
  // $pow: pow(10, 2);
  $remSize: round($size / $root-em * 100) / 100;
  @return $remSize * 1rem;
}

@function setFontWeight($bold) {
  @if $bold=="thin" {
    @return 100;
  }
  @else if $bold=="light" {
    @return 300;
  }
  @else if $bold=="normal" {
    @return 400;
  }
  @else if $bold=="bold" {
    @return 700;
  }
  @else {
    @return $bold;
  }
}

// mixin:allauto
@mixin all-auto {
  position: static;
  width: auto;
  height: auto;
  height: auto;
  width: auto;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 여러줄 말줄임 (only. webkit)
@mixin ellipsis-multiline($line) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

@mixin vertical-middle {
  top: 50%;
  transform: translateY(-50%);
}

%imageButton {
  display: inline-block;
  box-sizing: border-box;
  border: 0;
  background-color: transparent;
  &>span {
    @extend %visuallyhidden;
  }
}

%textButton {
  display: inline-block;
  box-sizing: border-box;
  border: 0;
  background-color: transparent;
}

@mixin border-radius($border) {
  border-top-left-radius: $border;
  border-top-right-radius: $border;
  border-bottom-left-radius: $border;
  border-bottom-right-radius: $border;
}

@mixin border-top-radius($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-topright: $radius;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -moz-border-radius-bottomright: $radius;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin positionFixed {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-y: visible !important;
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin wordBreak {
    word-break: break-all;
    word-break: break-word;
}

@mixin hidpi($ratio: 1.3) {
  @media only screen and (min-resolution: round($ratio * 96dpi)),
  only screen and (min-resolution: $ratio * 1dppx) {
    @content;
  }
}

// z-index 관리
@function z($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name)) + 1;
  } @else {
    @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
    @return null;
  }
}

// 0.5 라인 > @extend %bg_t;
//%bg_t {
//  content: '';
//  position: absolute;
//  top: -1px;
//  left: 0;
//  width: 100%;
//  height: 1px;
//  border-width: 0 0 1px 0;
//  border-style: solid;
//  transform: scaleY(0.5);
//}
//
//%bg_u {
//  content: '';
//  position: absolute;
//  left: 0;
//  bottom: -1px;
//  width: 100%;
//  height: 1px;
//  border-width: 0 0 1px 0;
//  border-style: solid;
//  transform: scaleY(0.5);
//}

//
// safe area
// - @include safeArea(true, padding, 10px 5px right left);
// - @include safeArea(false, padding, 5px bottom);
// - $all: true / false(multi / single)
// - $attr: selector
// - $val...: value direction
//
@mixin safeArea($all: false, $attr: padding, $val...) {
  @if(($attr == padding or $attr == margin) and $all == false) {
    #{$attr}-#{separateVal($val, false)}: safeAresLoop($all, 'env', $attr, $val);
    #{$attr}-#{separateVal($val, false)}: safeAresLoop($all, 'constant', $attr, $val);
  } @else {
    #{$attr}: safeAresLoop($all, 'env', $attr, $val);
    #{$attr}: safeAresLoop($all, 'constant', $attr, $val);
  }
}

//
// slice dircetion value
// - $boolean: true/false (value / direction)
//
@function separateVal($val, $boolean) {
  $val: nth($val, 1);
  $returnVal: 0;
  $returnStringVal: 0;
  $stringIdx: 0;
  @for $i from 1 through length($val) {
    @if(type-of(nth($val, $i)) != string and $i == 1) {
      $returnVal: nth($val, $i);
    } @else if(type-of(nth($val, $i))!=string and $i != 1) {
      $returnVal: join($returnVal, nth($val, $i));
    }  @else if(type-of(nth($val, $i)) == string and $stringIdx == 0) {
      $stringIdx: $i;
      $returnStringVal: nth($val, $i);
    } @else {
      $returnStringVal: join($returnStringVal, nth($val, $i));
    }
  }

  @if ($boolean == true) {
    @return $returnVal;
  } @else {
    @return $returnStringVal;
  }
}

@function dirFlag($receiveDirFlag, $receiveDir) {
  @if($receiveDirFlag != length($receiveDir)) {
    @return $receiveDirFlag+1;
  }
  @return $receiveDirFlag;
}

@function safeAresLoop($all, $set, $attr, $val) {
  $dir: top, right, bottom, left;
  $receiveDir: separateVal($val, false);
  $receiveDirFlag: 1;
  $realVal: separateVal($val, true);
  $returnVal: '';
  $safeArea: '';

  // value 축약형 변환
  @if(length($realVal)==1) {
    $realVal: $realVal $realVal $realVal $realVal;
  } @else if(length($realVal)==2) {
    $realVal: nth($realVal, 1) nth($realVal, 2) nth($realVal, 1) nth($realVal, 2);
  } @else if(length($realVal)==3) {
    $realVal: nth($realVal, 1) nth($realVal, 2) nth($realVal, 3) nth($realVal, 2);
  } @else if(length($realVal)==4) {
    $realVal: $realVal;
  } @else {
    @error 'safeAresLoop length of $val error';
  }

  @for $i from 1 through 4 {
    // check $set (env or constant)
    @if($set==env) {
      $safeArea: env(safe-area-inset-#{nth($dir, $i)});
    } @else if($set==constant) {
      $safeArea: constant(safe-area-inset-#{nth($dir, $i)});
    } @else {
      @error 'safeAresLoop $set error';
    }

    // returnVal 초기 값
    @if($i == 1) {
      @if((nth($dir, $i) == nth($receiveDir, $receiveDirFlag)) == true and nth($realVal, $i) == 0) {
        $returnVal: $safeArea;
        $receiveDirFlag: dirFlag($receiveDirFlag, $receiveDir);
      } @else if((nth($dir, $i) == nth($receiveDir, $receiveDirFlag)) == true and nth($realVal, $i) != 0) {
        $returnVal: calc(#{nth($realVal, $i)} + #{$safeArea});
        $receiveDirFlag: dirFlag($receiveDirFlag, $receiveDir);
      } @else {
        $returnVal: nth($realVal, $i);
      }
    } @else {
      // sare-area multi
      @if($receiveDir != 0 and $all == true) {
        @if((nth($dir, $i) == nth($receiveDir, $receiveDirFlag)) == true and nth($realVal, $i) == 0) {
          $returnVal: join($returnVal, $safeArea);
          $receiveDirFlag: dirFlag($receiveDirFlag, $receiveDir);
        } @else if((nth($dir, $i) == nth($receiveDir, $receiveDirFlag)) == true and nth($realVal, $i) != 0) {
          $returnVal: join($returnVal, calc(#{nth($realVal, $i)} + #{$safeArea}));
          $receiveDirFlag: dirFlag($receiveDirFlag, $receiveDir);
        } @else {
          $returnVal: join($returnVal, nth($realVal, $i));
        }
      } @else if($receiveDir != 0 and $all == false) { // sare-area single
        @if((nth($dir, $i) == nth($receiveDir, $receiveDirFlag)) == true) {
          @if(nth($realVal, $i) == 0) {
            $returnVal: $safeArea;
          } @else {
            $returnVal: calc(#{nth($realVal, $i)} + #{$safeArea});
          }
        }
      } @else {   // safe-area 방향 없을 때
        $returnVal: nth($realVal, $i);
        @warn 'please set drection of safe-area';
        @return $returnVal;
      }
    }
  }
  @return $returnVal;
}
